body {
    background-color: #212121;
    font-family: "Inter", sans-serif;
}

.mainText {
    color: white;
    text-align: center;
}

.yellowLine {
    display: block;
    margin: auto;
    background-color: #ffbb1c;
    width: 115px;
    height: 6px;
}

.moreBtn {
    background-color: #ffbb1c;
}
.moreBtn:hover {
    background-color: #ffbb1c;
}