users:
admin
customer

functionalities:(customer)
login/signup
CRUD on cart
search and "filter" products
place orders
get notification on email
"whishlist"

functionalities:(admin)
login/signup
RD users
CRUD products
"create simple analysis on products"


services:
Product Service: Manages product data (CRUD operations).
Order Service: Handles order processing, payments, and inventory.
User Service: Deals with user authentication and profiles.
Review Service: Manages product reviews and ratings.
notification service: Send order confirmation emails and other notifications.

AOP:
aspect1: logging user (Authentication Advice: Verifies user identity during login. Authorization Advice: Checks if a user has permission to perform certain actions (e.g., admin access). Input Validation Advice: Sanitizes user input to prevent security vulnerabilities. Logging Advice: Logs security-related events (e.g., login success/failure).)

aspect2: admin check using AOP interceptors

aspect3: "error handling or security?"


Backend endpoints:
product CRUD(add product, list all products, modify product, delete product)
customer RD(delete customer, view customers)
cart CRUD(add items to car, list cart items, remove items from cart, delete cart items)
search with parameters(search and filter)
modify admin password "patch request"
orders CRUD(place order, view orders, modify order, delete order)