.jobDetailsCard {
    background-color: #C0C0C0;
    padding: 10px;
    border: 1px solid transparent;
    border-radius: 10px;
}

.submitBtn {
    background-color: #4e4d4d;
    color: white;
}
.submitBtn:hover {
    background-color: rgb(78, 77, 77);
    color: white;
}