.jobCard {
    border: 2px solid transparent;
    border-color: #ffbb1c;
}

.checkIcon {
    color: #ffbb1c;
}

.jobBtnApply {
    background-color: #ffbb1c;
    padding: 5px 20px;
}

.jobBtnApply:hover {
    background-color: #ffbb1c;
}

.jobBtnSave {
    background-color: rgb(78, 77, 77);
    padding: 5px 20px;
    color: white;
}

.jobBtnSave:hover {
    background-color: rgb(78, 77, 77);
    color: white;
}

.jobBtnBlack {
    background-color: black;
    color: white;
}

.jobBtnBlack:hover {
    background-color: #ffbb1c;
    color: white;
}

.whiteLine {
    display: block;
    margin: auto;
    background-color: white;
    width: 100%;
    height: 2px;
}