.jobCard {
    border: 2px solid transparent;
    border-color: #ffbb1c;
}

.checkIcon {
    color: #ffbb1c;
}

.jobBtnApply {
    background-color: #ffbb1c;
    padding: 5px 20px;
}

.jobBtnApply:hover {
    background-color: #ffbb1c;
}

.jobBtnBlack {
    background-color: black;
    color: white;
}
.jobBtnBlack:hover{
    background-color: #ffbb1c;
    color: white;
}