body {
    font-family: "Inter", sans-serif;
}

.navBtn {
    background-color: #ffbb1c;
    color: black;
    border: 1px solid transparent;
    border-radius: 18px;
    padding: 12px;
    text-decoration: none;
}

.navBtn:hover {
    color: black;
}

.navbar {
    background-color: #212121;
}